.footer-container {
  background-color: #88ceeb;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-content-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 3rem 2rem;
}
.footer-content {
  display: grid;
  grid-template-rows: 1fr;
}

.footer-content-images-one,
.footer-content-images-two {
  max-width: 100%;
}

.footer-content-contact {
}

.footer-content-heading {
  font-size: 2.2rem;
}

.footer-content-text {
  font-size: 1.15rem;
  line-height: 2.3rem;
}

.footer-content-menu {
}

.footer-menu-links {
  font-size: 1.25rem;
  line-height: 2.3rem;
}

.footer-menu-links-items {
  list-style-type: none;
}

.footer-content-buttons {
  display: contents;
  display: grid;
  grid-template-columns: 1fr;
}

.footer-referral-button,
.footer-donate-button,
.footer-facebook-button {
  width: fit-content;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  background-color: rgb(253, 64, 64);
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.footer-facebook-button {
  justify-self: end;
  align-self: end;
  justify-self: left;
  align-self: left;
  background-color: skyblue;
  width: 4rem;
  border-radius: 1.3rem;
}

.footer-margin-adder {
  background-color: #88ceeb;
}

@media only screen and (min-width: 56rem) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "images buttons"
      "menu contact";
  }

  .footer-referral-button,
  .footer-donate-button {
    width: 10.4rem;
    height: 3.5rem;
    font-size: 1.1rem;
  }

  .footer-content-images {
    grid-area: images;
    padding-left: 0;
    gap: 0rem;
  }
  .footer-content-buttons {
    grid-area: buttons;
  }
  .footer-content-menu {
    grid-area: menu;
  }
  .footer-content-contact {
    grid-area: contact;
  }

  .footer-facebook-button {
  }
}

@media only screen and (min-width: 65rem) {
  .footer-content,
  .footer-content-buttons,
  .footer-content-contact,
  .footer-content-images,
  .footer-content-menu {
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "images  contact menu buttons";
    gap: 1rem;
  }
}
