@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root-content {
  font-family: "Nunito", sans-serif;
}

/* ------------------------HEADER---------------------------------- */
.my-header-container {
  background-color: skyblue;
  text-align: center;
}

.three-buttons-container {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.contact-and-referral {
  display: grid;
  grid-template-columns: 1fr;
}

.donate-button-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 14.5rem;
}
.donate-button {
  width: fit-content;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.4rem;
  background-color: rgb(253, 64, 64);
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.referral-button {
  width: fit-content;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.4rem;
  background-color: rgb(253, 64, 64);
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.contact-button {
  width: fit-content;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.4rem;
  background-color: rgb(253, 64, 64);
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.my-logo-container {
  height: fit-content;
  padding: 3rem;
}

.logo-image {
  max-width: 100%;
}

.follow-us {
  font-size: 1.3rem;
}

/* ------------------------NAVBAR---------------------------------- */
.navbar {
  background-color: rgb(221, 221, 225);
}

.dropdown {
  width: 5rem;
  height: 5rem;
}

.list-button-1,
.list-button-2,
.list-button-3,
.list-button-4,
.list-button-5,
.list-button-6,
.list-button-7 {
  background-color: rgb(152, 152, 161);
  text-decoration: none;
  list-style-type: none;
  padding: none;
}

.nav-dropdown {
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.3rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
@media only screen and (min-width: 34rem) {
  /* ------------------------HEADER---------------------------------- */
  .three-buttons-container {
    margin-top: 3.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
  }

  .contact-and-referral {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* ------------------------NAVBAR---------------------------------- */

@media only screen and (min-width: 56rem) {
  /* ------------------------HEADER---------------------------------- */
  .my-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .follow-us {
    font-size: 1.3rem;
  }
  /* ------------------------NAVBAR---------------------------------- */
}

@media only screen and (min-width: 65rem) {
  /* ------------------------HEADER---------------------------------- */
  .my-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: none;
  }

  .my-logo-container {
    align-self: left;
    justify-self: left;
  }

  .logo-image {
  }
  /* ------------------------NAVBAR---------------------------------- */
}
